{% extends "users/base.html" %}
<!-- Start body -->
{% block body %}
<div class="container py-5 m-auto">
  <h1 class="text-2xl m-10 text-center">🔑 Change Password </h1>
  <div class="text-center">
    <div class="error container text-red-500 px-8">
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <p class="text-red-500 text-base">{{ error }}</p>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
    <form action="" method="post" class="bg-white shadow-md mx-auto w-2/5 my-6 rounded px-3 py-6">
      {% csrf_token %}
      <div class="mb-3">
        <label class="block text-gray-700 text-lg font-bold m-3" for="id_old_password">Old Password</label>
        <div class="shadow text-gray-700 text-lg appearance-none border rounded py-2 px-3">
          {{ form.old_password }}
        </div>
      </div>
      <div class="mb-3">
        <label class="block text-gray-700 text-lg font-bold m-3" for="id_new_password1">New Password</label>
        <div class="shadow text-lg text-gray-700 appearance-none border rounded py-2 px-3">
          {{ form.new_password1 }}
        </div>
      </div>
      <div class="mb-3">
        <label class="block text-gray-700 text-lg font-bold m-3" for="id_new_password2">Confirm Password</label>
        <div class="shadow text-lg text-gray-700 appearance-none border rounded py-2 px-3">
          {{ form.new_password2 }}
        </div>
      </div>
      <button class="text-white bg-green-500 mt-3 px-3 py-2 rounded-lg" type="submit">
        Change Password
      </button>
    </form>
  </div>
</div>

<!-- end body -->
{% endblock body %}